Repository ahmed11551/sadak2025: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:backend, lint:frontend, lint:admin, test:backend, test:frontend, test:admin, test:telegram-bot, build:backend, build:frontend, build:admin, build:telegram-bot

Path conditions:
  lint:backend: any of: backend/**/*
  lint:frontend: any of: frontend/**/*
  lint:admin: any of: admin-panel/**/*
  test:backend: any of: backend/**/*
  test:frontend: any of: frontend/**/*
  test:admin: any of: admin-panel/**/*
  test:telegram-bot: any of: telegram-bot/**/*
  build:backend: any of: backend/**/*, .gitlab-ci.yml
  build:frontend: any of: frontend/**/*, .gitlab-ci.yml
  build:admin: any of: admin-panel/**/*, .gitlab-ci.yml
  build:telegram-bot: any of: telegram-bot/**/*, .gitlab-ci.yml

fix: update Dockerfiles to use legacy-peer-deps
  README.md
  admin-panel/Dockerfile
  frontend/Dockerfile
Due: lint:frontend, lint:admin, test:frontend, test:admin, build:frontend, build:admin

feat: Добавлена профессиональная форма пожертвования без реальной оплаты
  GITLAB_SETUP.md
  README.md
  SETUP_CHECKLIST.md
  backend/app/api/donations.py
  backend/app/core/config.py
  backend/app/core/exceptions.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/models/models.py
  backend/app/schemas/schemas.py
  backend/migrations/create_donation_requests_table.sql
  backend/requirements.txt
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/CampaignsPage.tsx
  frontend/src/pages/DonationPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/SubscriptionPlansPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/tsconfig.json
  ДОСТУПЫ_И_УЧЕТНЫЕ_ЗАПИСИ.md
  ИНСТРУКЦИЯ_ДЛЯ_ПРИЕМКИ.md
  ПРОСТАЯ_ФОРМА_ОПЛАТЫ.md
  ПРОФЕССИОНАЛЬНАЯ_РЕАЛИЗАЦИЯ.md
  СТАТУС_ПРОЕКТА_И_ДАННЫЕ_ОТ_ЗАКАЗЧИКА.md
  ФИНАЛЬНЫЙ_ОТЧЕТ_ПРО_ФОРМУ.md
  ФИНАЛЬНЫЙ_СТАТУС_ПРОЕКТА.md
  ЧЕКЛИСТ_ПРИЕМКИ.md
  ЧТО_СДЕЛАНО.txt
Due: lint:backend, lint:frontend, test:backend, test:frontend, build:backend, build:frontend

Initial commit: Sadaka-Pass monorepo
  backend/app/api/donations.py
  backend/app/api/webhooks.py
  backend/app/main.py
  backend/app/services/cloudpayments_service.py
  docker-compose.yml
  docs/CLOUDPAYMENTS_INTEGRATION.md
  docs/CLOUDPAYMENTS_SETUP_SUMMARY.md
  docs/CURRENT_STATUS.md
  docs/QUICK_SUMMARY_FOR_CLIENT.txt
  docs/SUMMARY_FOR_CLIENT.md
Due: lint:backend, test:backend, build:backend

feat: Telegram bot WebApp URL wired; add CloudPayments flow; add design system + UI components; Vercel SPA routes; Render blueprint
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/TextArea.tsx
  frontend/src/pages/DonationPage.tsx
  frontend/src/theme/index.ts
  frontend/src/theme/tokens.ts
  frontend/src/types/index.ts
  frontend/vercel.json
  render.yaml
  telegram-bot/main.py
  vercel.json
Due: lint:frontend, test:frontend, test:telegram-bot, build:frontend, build:telegram-bot

bot: use TELEGRAM_WEBAPP_URL from env instead of hardcoded
  telegram-bot/main.py
Due: test:telegram-bot, build:telegram-bot

fix(frontend): pin typescript to 4.9.5 for react-scripts 5
  frontend/package.json
Due: lint:frontend, test:frontend, build:frontend

chore(frontend): remove package-lock.json to refresh deps on Vercel
  frontend/package-lock.json
Due: lint:frontend, test:frontend, build:frontend

build(frontend): add .npmrc legacy-peer-deps, pin TS via overrides, set Node 18 engine
  frontend/.npmrc
  frontend/package.json
Due: lint:frontend, test:frontend, build:frontend
